@{
    ViewBag.Title = "ImportSiteOBoobs";
}

@model IList<UserAuthNew.Models.Image>
<table>
    <tr>
        <td>
            @foreach (var item in Model)
            {
                using (Html.BeginForm("UrlImageUpload", "Account", new { url = item.PhotoUrl}, FormMethod.Post))
                {
                    <a href=@item.PhotoUrl>
                        <img alt="@item.UserId" src="@item.PhotoUrl" height="300" />
                    </a>
                    <input type="submit" name="UploadImage" value="UploadImage" />
                }
            }
        </td>
    </tr>
</table>